[Unit]
Description=Daily working directory ~/Work

[Service]
ExecStart=/usr/bin/python3 -u /usr/local/bin/workdirfs.py 
ExecStop=/usr/bin/fusermount -u ${MOUNTPOINT}
